body {
  padding: 0px;
  margin: 0px;
  background-color: rgba(55, 120, 206, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}

.body-dark {
  background-color: rgba(0, 1, 58, 0.8);
}
.body-dark .background-blue {
  float: right;
  background-color: rgb(151, 151, 151);
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-blue {
  float: right;
  background-color: white;
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form p {
  margin-bottom: 5px;
  font-weight: 600;
}
.container-form h1 {
  text-align: center;
}
.container-form input {
  width: 75vh;
  height: 37px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 15px;
}
.container-form .footer-login {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  margin: 10px 0px 10px 0px;
}
.container-form .footer-login p {
  margin-right: 5px;
  display: flex;
}
.container-form .footer-login a {
  text-decoration: none;
  color: rgba(55, 120, 206, 0.8);
}
.container-form .footer-login a:hover {
  color: rgb(255, 161, 161);
}
.container-form .btn {
  width: 100%;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: rgba(55, 120, 206, 0.8);
  border-radius: 5px;
  cursor: pointer;
}
.container-form .btn:hover {
  background-color: black;
  color: rgba(55, 120, 206, 0.8);
  transition: 0.2s;
}

.btn-darklight {
  display: flex;
  justify-content: right;
}
.btn-darklight button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 30px;
}
.btn-darklight .btn {
  border: 2px solid yellow;
  background-color: black;
  border-radius: 50%;
  width: 30px;
}
.btn-darklight #img-lightdark {
  margin-right: 5px;
}